In [5]:
#Basic datatypes

int_var = 42
float_var = 65.8
complex_var = 4+3j

#Print datatype and values
print("integer variable :",int_var," ","Type:",type(int_var))
print("Floating variable :",float_var," ","Type:",type(float_var))
print("Complex variable :",complex_var," ","Type:",type(complex_var ))

integer variable : 42   Type: <class 'int'>
Floating variable : 65.8   Type: <class 'float'>
Complex variable : (4+3j)   Type: <class 'complex'>

In [8]:
#Mathematical OPerations

_sum = int_var + float_var
_product = float_var * complex_var
division = int_var / 10
print("Sum value :",_sum)
print("Product value :",_product)
print("Division value :",division)

Sum value : 107.8
Product value : (263.2+197.39999999999998j)
Division value : 4.2

In [45]:
#String Operations

s1 = "Dhathu"
s2 = "Anutty"
print("String 1:",s1,)
print("String 2:",s2,)
print("length of s1:",len(s1))
print("length of s2:",len(s2))

# Concatinate

print("Concatinated String:",s1+""+s2)

#Substring

_str = "Dhathu is a beautiful girl"
substring_start = str[1:9]
print("Substring of",_str,":",substring_start)

String 1: Dhathu
String 2: Anutty
length of s1: 6
length of s2: 6
Concatinated String: DhathuAnutty
Substring of Dhathu is a beautiful girl : hathu is

In [39]:
#String Method 

print("Uppercase:",s1.upper())
print("Capitalized:",s1.capitalize())
print("Lowercase:",s2.lower())

name = "shanu"
age = 30
f_string = f"My name is {name} and age is {age}"
print("formated string:",f_string)

Uppercase: DHATHU
Capitalized: Dhathu
Lowercase: anutty
formated string: My name is shanu and age is 30

In [36]:
#Boolean 

B1=True
B2=False
print("Boolean one:",B1," ","type:",type(B1))
print("Boolean Two:",B2," ","type:",type(B2))

#Boolean Operation

print("AND Operation:",B1 and B2)
print("OR Operation:",B1 or B2)
print("Not Operation:",not B1 )

Boolean one: True   type: <class 'bool'>
Boolean Two: False   type: <class 'bool'>
AND Operation: False
OR Operation: True
Not Operation: False

In [46]:
#List

Var = ["Anu","dhathu","forever", "friends"]
print(Var)

['Anu', 'dhathu', 'forever', 'friends']